@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: inherit;
}

b,
u,
i {
	font-size: inherit;
	font-family: inherit;
}

main {
	width: 100vw;
	display: flex;
	justify-content: space-around;
}

#grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
	width: 90%;
	max-width: 1200px;
	height: auto;
	margin-top: 20px;
}

#banner {
	background-color: white;
	background-image: url(../images/logo.png);
	background-size: contain;
	background-repeat: repeat-x;
	background-position-y: -8px;
	grid-column: 1/5;
	justify-content: center;
	align-items: center;
	display: flex;
}

#logoHeader {
	font-family: 'Black Ops One', cursive;
	font-size: 56px;
	background-color: white;
	color: #f8aa8b;
	padding: 0 25px;
}

#upcoming {
	border-radius: 25px;
	grid-column: 4/5;
	padding: 10px;
	margin-top: 50px;
	margin-bottom: 25px;
	margin-left: 50px;
	display: flex;
	flex-direction: column;
	width: 200px;
}

#upcoming h3 {
	font-family: 'Black Ops One', cursive;
	font-size: 31px;
	color: #e27d5f;
	margin-bottom: 40px;
	text-align: center;
}

.upcomingImages:last-child {
	border-bottom: none;
}

.upcomingImages {
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 3px dotted #e27d5f;
}

.upcomingImages img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.upcomingImages figcaption {
	font-size: 18px;
	padding-top: 3px;
}

#theFooter {
	grid-column: 1/5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
	margin-top: 50px;
}

#theFooter p {
	font-size: 12px;
}

li {
	display: inline-block;
	list-style-type: none;
}

.socialMedia {
	height: 85px;
	width: 85px;
	background-image: url(../images/social_media.png);
	zoom: 35%;
}

#github {
	background-position: -176px 274px;
}

#facebook {
	background-position: -57px -87px;
}

#youtube {
	background-position: 142px 274px;
}

#instagram {
	background-position: 262px -87px;
}

#twitter {
	background-position: -177px -206px;
}

@media (max-width: 750px) {
	#logoHeader {
		font-size: 38px;
		padding: 0;
		text-align: center;
	}

	#upcoming {
		grid-column: 1/5;
		width: auto;
		border-radius: 15px;
		margin-left: 0;
	}

	#upcoming h3 {
		margin-top: 10px;
	}

	#theFooter {
		justify-content: space-between;
		margin-top: 30px;
		padding: 20px 15px;
	}
}
